@model AccountRegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginPage";
}

<div class="login-container">
    <div class="login-card">
        <div class="brand-logo">
            <i class="fa-solid fa-id-card"></i>
            <h2>Welcome</h2>
            <p>Create your account</p>
        </div>

        <form method="post" asp-action="Register" asp-controller="Account">

            <div class="form-floating">
                <input type="email" class="form-control" asp-for="@Model.Email" placeholder="name@example.com" required>
                <label asp-for="@Model.Email">Email address</label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" asp-for="@Model.Password" placeholder="Password" required>
                <label asp-for="@Model.Password">Password</label>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" asp-for="@Model.ConfirmPassword" placeholder="Confirm Password" required>
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" asp-for="@Model.PhoneNumber" placeholder="+201**********" required>
                <label asp-for="@Model.PhoneNumber">Phone Number</label>
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" asp-for="@Model.Address" placeholder="123 Main St, Cairo, Egypt" required>
                <label asp-for="@Model.Address">Address</label>
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <button type="submit" class="btn btn-login">
                <i class="fas fa-spinner fa-spin loading"></i>
                Register
            </button>
        </form>
    </div>
</div>
